PngImage_1 RCDATA "Images\\house.png"
PngImage_2 RCDATA "Images\\Neato.BotVac.Dxx.png"
NeatoBotVac RCDATA "Images\\Neato.BotVac.png"
NeatoD3 RCDATA "Images\\Neato.D3.png"
NeatoD4 RCDATA "Images\\Neato.D4.png"
NeatoD5 RCDATA "Images\\Neato.D5.png"
NeatoD6 RCDATA "Images\\Neato.D6.png"
NeatoD7 RCDATA "Images\\Neato.D7.png"
NeatoXV RCDATA "Images\\Neato.XV.png"
XV16 RCDATA "Images\\Neato.XV16.png"
NeatoLogo RCDATA "Images\\neato+logo.png"
PngImage_12 RCDATA "Images\\spot.png"
PngImage_13 RCDATA "Images\\Stop.png"
