NeatoBotVac RCDATA "Images\\Neato.Botvac.png"
NeatoD3 RCDATA "Images\\Neato.D3.png"
NeatoD4 RCDATA "Images\\Neato.D4.png"
NeatoD5 RCDATA "Images\\Neato.D5.png"
NeatoD6 RCDATA "Images\\Neato.D6.png"
NeatoD7 RCDATA "Images\\Neato.D7.png"
XV16 RCDATA "Images\\Neato.XV16.png"
NeatoLogo RCDATA "Images\\neato+logo.png"
NeatoXV RCDATA "Images\\Neato.XV.png"
